<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">

        <hr>
    </div>
    <div class="col-sm-3">
        <h2>Hello,Guest</h2>
        <small>移动设备访问请扫描以下二维码：</small>
        <br>
        <br>
        <img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">
        <br>
    </div>
    <div class="col-sm-5">
        <h2>若依后台管理框架</h2>
        <p>一直想做一款后台管理系统，看了很多优秀的开源项目但是发现没有合适自己的。于是利用空闲休息时间开始自己写一套后台系统。如此有了若依管理系统。，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。所有前端后台代码封装过后十分精简易上手，出错概率低。同时支持移动客户端访问。系统会陆续更新一些实用功能。
        </p>
        <p>
            <b>当前版本：</b><span>v[[${version}]]</span>
        </p>
        <p>
            <span class="label label-warning">&yen;免费开源</span>
        </p>
        <br>
        <p>
            <a class="btn btn-success btn-outline" href="https://gitee.com/y_project/RuoYi" target="_blank">
                <i class="fa fa-cloud"> </i> 访问码云
            </a>
            <a class="btn btn-white btn-bitbucket" href="http://ruoyi.vip" target="_blank">
                <i class="fa fa-home"></i> 访问主页
            </a>
        </p>
    </div>
    <div class="col-sm-4">
        <h4>技术选型：</h4>
        <ol>
            <li>核心框架：Spring Boot。</li>
            <li>安全框架：Apache Shiro。</li>
            <li>模板引擎：Thymeleaf。</li>
            <li>持久层框架：MyBatis。</li>
            <li>定时任务:Quartz。</li>
            <li>数据库连接池：Druid。</li>
            <li>工具类：Fastjson。</li>
            <li>更多……</li>
        </ol>
    </div>

</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-4">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联系信息</h5>

                </div>
                <div class="ibox-content">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>更新日志</h5>
                </div>
                <div class="ibox-content no-padding">
                    <div class="panel-body">
                        <div class="panel-group" id="version">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#version" href="#v34">v3.4.0</a><code
                                            class="pull-right">2019.06.03</code>
                                    </h5>
                                </div>
                                <div id="v34" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ol>
                                            <li>新增实例演示菜单及demo</li>
                                            <li>新增页签右键操作</li>
                                            <li>菜单管理新增打开方式</li>
                                            <li>新增点击某行触发的事件</li>
                                            <li>新增双击某行触发的事件</li>
                                            <li>新增单击某格触发的事件</li>
                                            <li>新增双击某格触发的事件</li>
                                            <li>新增是否启用显示细节视图</li>
                                            <li>支持上传任意格式文件</li>
                                            <li>修复角色权限注解失效问题</li>
                                            <li>左侧的菜单栏宽度调整</li>
                                            <li>新增响应完成后自定义回调函数</li>
                                            <li>支持前端及其他模块直接获取用户信息</li>
                                            <li>升级swagger到最新版2.9.2</li>
                                            <li>升级jquery.slimscroll到最新版1.3.8</li>
                                            <li>升级select2到最新版4.0.7</li>
                                            <li>新增角色配置本部门数据权限</li>
                                            <li>新增角色配置本部门及以下数据权限</li>
                                            <li>优化底部操作防止跳到页面顶端</li>
                                            <li>修改冻结列选框无效及样式问题</li>
                                            <li>修复部门四层级修改祖级无效问题</li>
                                            <li>更换开关切换按钮样式</li>
                                            <li>新增select2-bootstrap美化下拉框</li>
                                            <li>添加表格内图片预览方法</li>
                                            <li>修复权限校验失败跳转页面路径错误</li>
                                            <li>国际化资源文件调整</li>
                                            <li>通知公告布局调整</li>
                                            <li>删除页签操作功能</li>
                                            <li>表格树新增查询指定列值</li>
                                            <li>更改系统接口扫描方式及完善测试案例</li>
                                            <li>表格列浮动提示及字典回显默认去背景</li>
                                            <li>修复启用翻页记住前面的选择check没选中问题</li>
                                            <li>去除监控页面底部的广告</li>
                                            <li>日期控件功问题修复及data功能增强</li>
                                            <li>新增角色权限可见性（前端直接调用）</li>
                                            <li>新增获取当前登录用户方法（前端及子模块调用）</li>
                                            <li>修复热部署重启导致菜单丢失问题</li>
                                            <li>优化业务校验失败普通请求跳转页面</li>
                                            <li>操作日志新增状态条件查询</li>
                                            <li>操作类型支持多选条件查询</li>
                                            <li>通知公告防止滚动触底回弹优化</li>
                                            <li>其他细节优化</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>捐赠</h5>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-warning">
                        请作者喝杯咖啡（点击图片放大）
                    </div>
                    <p id="pay-qrcode">
                        <a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script type="text/javascript">
    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });
</script>
</body>
</html>
